<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>



<form action="/register" method="POST">
    <div class="d-flex mx-auto justify-content-evenly me-5 mt-5">
        <div class="bg-dark col-3 ps-3">
            <h1 class="text-primary ms-2 mt-3">Register</h1>
            {% with messages = get_flashed_messages(category_filter=['reg_err']) %} <!-- declare a variable called messages -->
            {% if messages %} <!-- check if there are any messages -->
            {% for message in messages %} <!-- loop through the messages -->
            <div class="mt-2 text-danger">
                <span>{{message}}</span> <!-- display each message in a paragraph tag -->
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="text-white bg-dark col-10">
            </div>
            <div class="my-4">
                <label class="text-light" for="">First Name:</label>
                <div>
                    <input class="form-control w-75" type="text" name="first_name" id="">
                </div>
                <div>
                    <label class="text-light" for="">Last Name:</label>
                    <div>
                        <input class="form-control w-75" type="text" name="last_name" id="">
                    </div>
                    <div>
                        <label class="text-light" for="">Email:</label>
                    </div>
                    <div>
                        <input class="form-control w-75" type="text" name="email" id="">
                        <div>
                            <label class="text-light" for="">Password:</label>
                        </div>
                        <div>
                            <input class="form-control w-75" type="password" name="password" id="">
                        </div>
                        <div>
                            <label class="text-light" for="">Confirm Password:</label>
                        </div>
                        <div>
                            <input class="form-control w-75" type="password" name="cpassword" id="">
                        </div>
                        <div class="">
                            <input class="btn btn-primary btn-outline-dark mt-2" type="submit" name="" id=""
                                value="Register">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

<form class="col-3" action="/login_user" method="POST">
    <div class="bg-dark ps-4 pt-2 pb-4 text-white bg-dark">
        <h1 class="text-primary mt-3 ms-3">Login</h1>
        {% with messages = get_flashed_messages(category_filter = ['log_err']) %} <!-- declare a variable called messages -->
        {% if messages %} <!-- check if there are any messages -->
        {% for message in messages %} <!-- loop through the messages -->
        <div class="text-danger mt-2">
            <span>{{message}}</span> <!-- display each message in a paragraph tag -->
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="mt-2">
            <label class="text-light" for="">Email:</label>
        </div>
        <div>
            <input class="form-control w-75" type="text" name="email" id="">
            <div>
                <div>
                    <label class="text-light" for="">Password:</label>
                </div>
                <div>
                    <input class="form-control w-75" type="password" name="password" id="">
                </div>
                <div>
                    <input class="btn btn-primary btn-outline-dark mt-2" type="Submit" name="" id="" value="Login">
                </div>
            </div>
</form>